	*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

a{
	text-decoration: none;
	color: #111111;
}
li{
	list-style: none;
}
.text-center{
	text-align: center;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.flex{
	display: flex;
	max-width: 1170px;
}
.container{
	max-width: 1180px;
	margin: 0px auto ;
}
.inline * {
	display: inline;
}
.has-two-col{
	display: flex;
	justify-content: space-between;
}
ul.inline-list li{
	display: inline;
}
body{
	font-family: Roboto , Tahoma ,sans-serif;
	color: #111111;
}
/* header */

header{
	background: #f4f4fc url(images/background.png) no-repeat center top;
	background-size:  cover;
	padding-top: 48px ;
	padding-bottom: 265px;
}

#top-bar{
	line-height: 48px;
	height: 48px;
}
#top-bar h1 a {
	display: flex;
	line-height: 48px;
	height: 48px;
	align-items: center;
}
header #menu{
	font-size: 0px;
}
header #menu li a{
	display: inline-block;
	font-size: 20px;
	color: #111111 ;
	line-height: 48px;
	padding: 0px 17px;
}
header #top-bar button {
 color: #111111;
 font-size: 18px;
 height: 48px;
 padding: 0px 42px;
 border-radius: 10px;
 border: 2px solid #c04ae2;
 background-color: transparent;
}
header #top-bar #social li  {
	padding: 0px 8px;
	line-height: 48px;
}
/* Hero */
header #Hero {
	margin-top: 135px;
}
header #page-title {
	width: 600px;
}
header #page-title h1 {
	font-size: 85px;
	line-height: 108px;
	padding-bottom: 72px;
	font-weight: normal;
}
header #page-title h2 {
	font-size: 30px;
	color: #5e5858;
	font-weight: normal ;
	padding-bottom: 44px;
}
header #page-title a{
	display: inline-block;
	height: 74px;
	font-size: 24px;
	line-height: 74px;
	background-color: #c04ae2;
	border-radius:10px;
	color: white;
	padding: 0px 60px;
	box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
}
header #main-img {
	position: relative;
	flex-grow: 1;
}
header #main-img img{
	position: absolute;
	top: 0px;
	left: -20%;
}
/* main */
#main{
	background : #fdfdfe ;
	padding-top : 192px;
	padding-bottom: 1200px;
}
#future #future-title{
	color: #c04ae2;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;	
	font-weight: bold;
}
#future h2{
	margin-top: 30px;
	margin-bottom: 107px;
	font-size: 60px;
	line-height: 90px;
	width: 770px;
}
#futures{
	justify-content: space-between;
	padding-bottom: 96px;
}
#futures div{
	width: 370px;
	border-width: 6px;
	border-style: solid ;
	border-radius: 10px;
	padding: 223px 44px 84px 44px;
	background-repeat: no-repeat;
	background-position: center top 93px;
}
#futures div:nth-child(1){
	border-color: #fcd7df;
	background-image: url(images/Moneo.png)
}
#futures div:nth-child(2){
	border-color: #c9f3e2;
	background-image: url(images/Document.png);
}	
#futures div:nth-child(3){
	border-color: #f2d5ba;
	background-image: url(images/User.png);
}		
#futures div h3 {		
	font-size: 30px;
	line-height: 42px;

}
#futures div p{
	font-size: 20px;
	line-height: 28px;
	color: #5e5858;
	margin-top: 21px;;
}
/* team */
#team{
	padding-top: 84px;
	padding-bottom: 114px;
}
#team team-info{
	width: 420px;
}
#team #team-info h2 {
	font-size: 60px;
	line-height: 72px;
	color: #222222;
	margin-top: 24px;
}
#team #team-info p:nth-child(2){
	font-size: 24px;
	line-height: 36px;
	color: #5e5858;
	margin-top: 25px;
}
#team #team-info p:nth-child(3){
	margin-top: 28px;
	font-size: 20px;
	line-height: 30px;
	color: #5e5858;
}
#team #team-info a{
	display: inline-block;
	background-color: #c04ae2;
	font-size: 18px;
	line-height: 60px;
	height: 60px;
	color: white;
	text-transform: uppercase;
	padding: 0px 48px;
	border-radius: 10px;
	box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.8);
	margin-top: 42px;
}
#team #team-info a:hover{
	background-color: #82196f;
}
#team #team-img {
	width: 500px;
}
/* what we do*/
#what-we-do{
	padding-top: 114px;
	text-align: right;
	padding-bottom: 107px;

}
#what-we-do div{
	max-width: 720px;
	display: inline-block;

}
#what-we-do h3{
	color: #c04ae2;
	text-transform: uppercase;
	text-align: right;
}
#what-we-do h2{
	color: #111111;
	font-size: 60px;
	text-align: right;
	line-height: 90px;
}
/* service*/
#service {
	position: relative;
}
#service div {
	box-shadow: 0px 24px 72px rgba(7, 28 , 75, 0.07);
	padding: 198px 45px 72px 45px;
	width: 370px;
	border-radius: 25px;
	background-position: center 72px;
	background-color: white;
	position: absolute ;
}
#service div:nth-child(1){
	background-image: url(images/4cot.png);
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
}
#service div:nth-child(2){
	background-image: url(images/shopping.png);
	background-repeat: no-repeat;
	top: 87px;
	left: 400px;
}
#service div:nth-child(3){
	background-image: url(images/camera.png);
	background-repeat: no-repeat;
	top: 173px;
	left: 800px;
}
#service div:nth-child(4){
	background-image: url(images/headphones.png);
	background-repeat: no-repeat;
	top: 507px;
	left: 0px;
}
#service div:nth-child(5){
	background-image: url(images/placeholder.png);
	background-repeat: no-repeat;
	top: 594px;
	left: 400px;
}
#service div:nth-child(6){
	background-image: url(images/upload.png);
	background-repeat: no-repeat;
	top: 673px;
	left: 800px;
}
#service div h4{
	 font-size: 25px;
	 line-height: 42px;
	 text-align: center;
}
#service div p{
	color: #5e5858;
	font-size: 18px;
	text-align: center;
	line-height: 28px;
	margin-top: 20px 0px 45px 0px;
}
#service div a{
	display: block;
	width: 62px;
	height: 22px;
	background-image: url(images/muiten.png);
	background-repeat: no-repeat;
	background-position: right 5px center;
	text-indent: -10000px;
	margin: 0px auto;
	transition: background-position 0.5 ease-in-out;
}
#service div a:hover{
	background-position: right 0px center;
}
 
/* check */
#project {
    background: white url(images/bg_3.png) no-repeat center top;
    background-size: cover;
    height: 2403px;
}

#project .title{
    padding-top: 167px;
    text-align: center;
}


#project .title h3 {
    color: #c04ae2;;
    font-size: 24px;
    line-height: 72px;
    text-transform: uppercase;
    font-weight: normal;
}

#project .title p {
    color: #111111;
    font-size: 60px;
    line-height: 90px;
    font-weight: normal;
}

/* first */
#project #tags .fisrt .text h4 {
    color: #fe6686;
    font-size: 24px;
    line-height: 42px;
    font-weight: normal;
}

#project #tags .fisrt .text p:nth-child(2) {
    color: #111111;
    font-size: 42px;
    line-height: 54px;
    font-weight: 400;
    padding-top: 14px;
}

#project #tags .fisrt .text p:nth-child(3) {
    color: #5e5858;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 42px;
    padding-bottom: 38px;
    padding-top: 32px;
}
/* end of first */

/* second */
#project #tags .second .text h4 {
    color: #54d6a1;
    font-size: 24px;
    line-height: 42px;
    font-weight: normal;
}

#project #tags .second .text p:nth-child(2) {
    color: #111111;
    font-size: 34px;
    line-height: 54px;
    font-weight: 400;
    padding-top: 14px;
}

#project #tags .second .text p:nth-child(3) {
    color: #5e5858;
    font-size: 17px;
    line-height: 32px;
    padding-bottom: 38px;
    padding-top: 32px;
}
/* end of second */

/* third */
#project #tags .third .text h4 {
    color: #fe9a3f;
    font-size: 24px;
    line-height: 42px;
    font-weight: normal;
}

#project #tags .third .text p:nth-child(2) {
    color: #111111;
    font-size: 42px;
    line-height: 54px;
    font-weight: 400;
    padding-top: 14px;
}

#project #tags .third .text p:nth-child(3) {
    color: #5e5858;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 38px;
    padding-top: 32px;
}
/* end of third */

#project #tags a {
    display: inline-block;
    width: 200px;
    font-size: 18px;
    line-height: 36px;
    color: black;
    border: 2px solid #c04ae2;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}

#project #tags {
    margin-top: 105px;
}

#project #tags > div{
    display: flex;
    justify-content: space-between;
}

#project #tags .fisrt div:nth-child(1){
    max-width: 470px;
    max-height: 470px;
}

#project #tags .fisrt div:nth-child(2) {
    max-width: 570px;
}

#project #tags .second div:nth-child(1){
    max-width: 470px;
    max-height: 470px;
}

#project #tags .second div:nth-child(2) {
    max-width: 570px;
}

#project #tags .third div:nth-child(1){
    max-width: 470px;
    max-height: 470px;
}

#project #tags .third div:nth-child(2) {
    max-width: 570px;
}

#project #tags .second {
    margin-top: 90px;
}

#project #tags .third {
    margin-top: 90px;
}

/* title footer */

.footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 36px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 181px;
}

.footer > div {
    border-bottom: 2px solid #c04ae2;
}   
/* meet our team*/
#meet-team {
    background: white url(images/bg_4.png) no-repeat center top;
    background-size: cover;
    height: 2082px;
}

#meet-team .title {
    padding-top: 205px;
    text-align: center;
}

#meet-team .title h3 {
    font-size: 24px;
    line-height: 72px;
    color:  #c04ae2;
    text-transform: uppercase;
    font-weight: normal;
}

#meet-team .title p {
    margin-top: 8px;
    font-size: 60px;
    line-height: 90px;
    color: #111111;
}

#meet-team #partners {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#meet-team #partners > div h3 {
    font-size: 24px;
    line-height: 48px;
    color: #111111;
    font-weight: bold;
    margin-top: 32px;
}

#meet-team #partners > div h4 {
    font-size: 18px;
    line-height: 36px;
    color: #5e5858;
    font-weight: normal;
    margin-top: 2px;
}

#meet-team #partners > div:nth-child(even) {
    transform: translateY(70px);
}

#meet-team #testimonial {
    margin-top: 179px;
    display: flex;
    justify-content: space-between;
}

/* div 1 left */
#meet-team #testimonial div:nth-child(1) {
    max-width: 570px;
    margin-top: 192px;
}

#meet-team #testimonial div:nth-child(1) h3 {
    font-size: 24px;
    line-height: 72px;
    color: #c04ae2;
    font-weight: normal;
    text-transform: uppercase;

}

#meet-team #testimonial div:nth-child(1) p:nth-child(2) {
    font-size: 58px;
    line-height: 90px;
    color: #111111;
    font-weight: bold;
    margin-top: 7px;
}

#meet-team #testimonial div:nth-child(1) p:nth-child(3) {
    font-size: 23px;
    line-height: 36px;
    color: #5e5858;
    margin-top: 47px;
}

#meet-team #testimonial div:nth-child(1) h4 {
    font-size: 24px;
    line-height: 48px;
    color: #111111;
    margin-top: 49px;
    position: relative;
    padding-left: 40px;
}

#meet-team #testimonial div:nth-child(1) h4::before {
    content: ' ';
    display: inline-block;
    width: 19px;
    height: 2px;
    background-color: #332e98;
    position: absolute;
    left: 0;
    bottom: 46%;
}

#meet-team #testimonial div:nth-child(1) span {
    font-size: 18px;
    line-height: 36px;
    color: #adb0ba;
    font-weight: normal;
    margin-left: 40px;
}
/* Contact*/
#contact {
	background : white url(https://ngokhang.github.io/rou_web/image/contact_bg.png) no-repeat center top;
	background-size: cover;
	height: 1493px;		
}
#contact {
    background: white url(images/contact_bg.png) no-repeat center top;
    background-size: cover;
    height: 1409px;
}

#contact .title {
    padding-top: 168px;
    text-align: center;
}

#contact .title h3 {
    font-size: 24px;
    line-height: 72px;
    color: #c04ae2;
    text-transform: uppercase;
    font-weight: normal;
}

#contact .title p {
    margin-top: 6px;
    font-size: 60px;
    line-height: 90px;
    color: var(--text_black);
}

#contact #methods-contact {
    margin-top: 100px;
}

#contact #methods-contact form p {
    font-size: 42px;
    line-height: 54px;
    color: #111111;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    gap: 20px 0;
}

#username {
    margin-top: 26px;
}

form input[type="text"], 
form input[type="email"] {
    display: block;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    padding: 26px 30px;
    box-shadow: 0px 18px 48px rgba(0,0,0,0.06);
    border-radius: 8px;
}

form textarea {
    display: block;
    background-color: #ffffff;
    font-size: 20px;
    height: 214px;
    padding: 26px 30px;
    box-shadow: 0px 18px 48px rgba(0,0,0,0.06);
    border-radius: 8px;
}

form button {
    display: block;
    width: 240px;
    background-color: #c04ae2;;
    font-size: 24px;
    line-height: 72px;
    color: white;
    font-weight: normal;
    text-align: center;
    border-radius: 10px;
}

#methods-contact {
    display: flex;
}

#methods-contact .information-contact {
    max-width: 470px;
    margin-left: 230px;
    margin-top: 100px;
}

.information-contact > p {
    font-size: 24px;
    line-height: 36px;
    color: #5e5858;
}

.information-contact div {
    max-width: 300px;
}

.information-contact .phone {
    display: flex;
    gap: 0px 20px;
}

.information-contact .phone div:first-child {
    content: " ";
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(images/icon/phone.png) #fe6686 no-repeat center center;
}

.information-contact .phone div:last-child {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}


.information-contact .email {
    display: flex;
    gap: 0px 20px;
}

.information-contact .email div:first-child {
    content: " ";
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(images/icon/Mess.png) #54d6a1 no-repeat center center;
}

.information-contact .email div:last-child {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.information-contact .location {
    display: flex;
    gap: 0px 20px;
}

.information-contact .location div:first-child {
    content: " ";
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(images/icon/location.png) #fe9a3f no-repeat center center;
}

.information-contact .location div:last-child {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

#methods-contact .information-contact {
    display: flex;
    max-width: 470px;
	    margin-left: 230px;
    margin-top: 100px;
    flex-direction: column;
    gap: 40px;
}
/* end content*/
#blog{
	height: 1021px;
	margin-top: 150px;
	background: #f3f3f4 url(images/bg_5.png) no-repeat center top;
	background-size: cover;	
}
#blog #title {
	padding-top: 128px;
	display: flex;
	justify-content: space-between;
}
#blog #title h2{
	#blog .title h3 
    font-size: 24px;
    line-height: 72px;
    color: #c04ae2;
    text-transform: uppercase;
    font-weight: normal;
}	
#blog #title p {
    font-size: 60px;
    line-height: 90px;
    color: #111111;
    font-weight: bold;
    margin-top: 30px;
}
#blog #title div:last-child {
    display: flex;
    flex-direction: column-reverse;
}

#blog #title div:last-child a {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 2px solid #c04ae2;
}

#comments {
    margin-top: 105px;
    display: flex;
    gap: 0px 30px;
}

#comments > div:hover {
    background-color: white;
    transition: all 0.4s ease-in;
}

#comments > div {
    border: 2px solid #b3bed1;
    border-radius: 8px; 
    padding: 41px 52px 50px 40px;
    transition: all 0.4s ease-in;
}
#comments > div h4 {
     
   color: #111111;
      
    font-size: 24px;
    
    line-height: 36px;
      
    font-weight: bold;
      
    margin-top: 32px;
      
    cursor: pointer;
}

#comments > div p {
    font-size: 19px;
    line-height: 32px;
    color: #5e5858;
    margin-top: 29px;
}

#comments .app {
    font-size: 18px;
    line-height: 30px;
    color: #fe6686;
    font-weight: bold;
    cursor: pointer;
}

#comments .design {
   
   font-size: 18px;
   
   line-height: 30px;
   
   color: #54d6a1;
   
   font-weight: bold;
   
   cursor: pointer;
}

#comments .research {
   
   font-size: 18px;
   
   line-height: 30px;
   
   color: #fe9a3f;
   
   font-weight: bold;
   
   cursor: pointer;
}

.commentor {
   
   display: flex;
   
   justify-content: space-between;
   
   margin-top: 42px;
   
   cursor: pointer;
}
.commentor div:first-child {
   display: flex;
   gap: 0px 15px;
   justify-content: cent
     align-items: center;
}
.commentor div:last-child {
   display: flex;
   gap: 0px 10px;
   justify-content: center;
   align-items: center;
}
.commentor div:last-child img {
    transition: all 0.4s ease-in;
}
.commentor div:last-child img:hover {
   	background-color: red;
   	border-radius: 50%;
   	transition: all 0.4s ease-
}
/* Footer */
footer {
    height: 663px;
    margin-top: 1000px;
    background: url(images/footer.png) no-repeat center top;
    background-size: cover;
}

footer .container.menu {
    padding-top: 168px;
    display: flex;
    gap: 0px 130px;
}

footer #intro-footer {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 35px 0px;
}

footer #intro-footer h3 {
    max-width: 122px;
}

footer #intro-footer p {
    font-size: 18px;
    line-height: 27px;
    color: #5e5858;
}

footer #intro-footer input {
    max-width: 370px;
    font-size: 18px;
    line-height: 24px;
    color: #999999;
    background-color: #f3f9fb;
    padding: 24px 24px;
    border-radius: 6px;
}

/* navigation footer */
footer .menu > div:nth-child(2) {
    display: flex;
    gap: 0px 100px;

}

footer .menu > div:nth-child(2) h4 {
    font-size: 24px;
    line-height: 26px;
    color: #111111;
}

footer .menu > div:nth-child(2) a {
    font-size: 18px;
    line-height: 30px;
    color: #5e5858;
}

footer .menu > div:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

/* Follow us */
.info-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 168px;
}

.info-footer .socials ul {
    display: flex;
    gap: 0px 10px;
    justify-content: center;
    align-items: center;
}

.info-footer .socials {
    display: flex;
    max-width: 270px;
    gap: 0px 50px;
}

.info-footer .socials div:first-child a {
    font-size: 18px;
    line-height: 26px;
    color: #111111;
    font-weight: bold;
}

.info-footer div:last-child p {
    font-size: 18px;
    line-height: 24px;
    color: #5e5858;
}

.info-footer div:last-child span {
    font-weight: bold;
}